CSS Styles
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

nav {
    background-color: #444444;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 14px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background-color: #ddd;
    color: #000;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: 52px;
    /* Adjust this value based on the height of the nav */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    overflow-x: auto;
    /* Enable horizontal scrolling for small screens */
}

.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    /* Enable horizontal scrolling for small screens */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Add some margin at the bottom to prevent content from being hidden behind the footer */
.margin-bottom {
    margin-bottom: 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav input[type="checkbox"] {
        display: none;
    }

    nav label {
        display: block;
        cursor: pointer;
        color: #fff;
        padding: 14px 20px;
        text-align: center;
        background-color: #444;
    }

    nav input[type="checkbox"]:checked ~ ul {
        display: block;
        text-align: left;
    }

    nav ul li {
        display: block;
    }

    header {
        margin-top: 100px;
        /* Adjust this value based on the height of the nav in responsive mode */
    }

    .container,
    .section {
        overflow-x: auto;
        /* Enable horizontal scrolling for small screens */
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 0 10px;
    }
}

/* Hide hamburger menu in desktop sizes */
@media (min-width: 769px) {
    nav label {
        display: none;
    }

    /* Hide the checkbox input */
    nav input[type="checkbox"] {
        display: none;
    }

    /* Show the navigation links */
    nav ul {
        display: block !important;
    }
}

